<% content_for :title, "Events - baby.lalcohol.com" %>



<h3>Events </h3>

Here is a summary of what is happening!
<br/><br/>
<ul>

<br/><li>First Obstetrician Visit<br/><small>May 20, 2013</small></li>

<br/><li>First Sonagraph Picture<br/><small>May 20, 2013</small></li>

<br/><li>Heard Heartbeat<br/><small>June 11, 2013</small></li>

<br/><li>Appearance of a Baby Bump<br/><small>July 12, 2013</small></li>

<br/><li>Baby Announcement<br/><small>July 18, 2013</small></li>

<br/><li>New Baby Mobile<br/><small>July 20, 2013</small></li>

<br/><li>First Sensation of Movement<br/><small>July 30, 2013</small></li>

<br/><li> It's a Boy!<br/><small>September 10, 2013</small></li>

<br/><li> West Coast Baby Shower<br/><small>October 12, 2013</small></li>

<br/><li> East Coast Baby Shower<br/><small>November, 2013</small></li>

<br><li> <b>Due Date</b> <br><small>January 24, 2014</small></li>
</ul>