<% content_for :title, "baby.lalcohol.com" %>

<h3>News </h3>
My amazing, young, gorgeous, stunning mother will be hosting a "West Coast" Baby Shower for those who want to poke the belly, but are unable to visit me here in DC.
I am nearing the 'no fly trimester' therefore this event will be taking place in October.  
<br/><br/>
We are very grateful to have such wonderful and loving families that show us an incredible amount of support. We are very thankful and excited to see everyone!

<br/> <br/>
<div style="width: 80%; text-align: center; margin: auto;" >
<img src="/WhooosBaby.jpg" />
</div>

