<% content_for :title, "Mileestones - baby.lalcohol.com" %>

<h3>Milestones </h3>

Here are some memorable dates of accomplishments!
<br/><br/>

<ul>

<br/><li>Confirmed Pregnancy<br/><small>May 20, 2013</small></li>

<br/><li>Completed First Trimester<br/><small>July 15, 2013</small></li>

<br/><li>Started Second Trimester<br/><small>July 16, 2013</small></li>
