<% content_for :title, "Pictures - baby.lalcohol.com" %>


<h3>Pictures </h3>

Here are some fun pictures that have been taken so far!
<br /> <br />

<a href="https://plus.google.com/photos/109337533791433910283/albums/5922175062347930913?authkey=CNfCz6L_rdGD3wE" target="_new" ><img src="/BabyLaLAlbumCover.jpg" ><a/>