<%= link_to "baby.lalcohol.com", root_path, :class => 'brand' %>
<ul class="nav">

     <li>
    <%= link_to 'Events', events_path %>
    </li>

    <li>
    <%= link_to 'Pictures', pictures_path %>
    </li>

    <li>
    <%= link_to 'Milestones', milestones_path %>
    </li>




</ul>
